*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main_nav{
    background-color: transparent;
width: 100%;
height:150px;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar nav{
    margin-top:30px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    transition:color 1s linear;
    font-size:1.3rem;
}
.main_nav p{
    font-size:4rem;
    font-weight: bold;
    color:white;
    margin-left:80px;
}
.main_nav p span{
    font-size:1.5rem;
    margin-left:2%;
    font-weight:lighter;
    margin-right: 48%;
}
p span{
    border-right:2px solid white;
    border-left:2px solid white;
    border-radius:5px;
}
nav ul {
    display:flex;
    gap:50px;
    margin-top:10px;
}
nav ul li{
    list-style-type: none;
    margin-left:10px;
}
i{
    margin-right:5px;
}
nav ul li a:hover{
    color:bisque;
}
#search{
    width:140px;
    height: 30px;
    font-size: 1.2rem;
    border-radius:5px;
    background-color: transparent;
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.seac{
    float:right;
    margin-top:-27px;
}
.search_button a{
    text-decoration:none;
    color:white;
}
.search_button{
    width:70px;
    height: 25px;
    font-size: 1.2rem;
    background-color: transparent;
}
.search_button:hover{
    background-color:#6f0000;
}
.movie_images{
    width:100%;
    height:900px;
    animation:image 15s linear infinite;
   margin-top:-11%;
   background-image: url('https://www.itl.cat/pngfile/big/19-198749_the-amazing-spider-man-2-electro-wallpaper-marvel.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
@keyframes image{
    0%{
        background-image: url('https://www.itl.cat/pngfile/big/19-198749_the-amazing-spider-man-2-electro-wallpaper-marvel.jpg');
        
    }
    25%{
        background-image: url('https://wallpapercave.com/wp/wp9655793.jpg');
       
    }
    50%{
        background-image: url('https://e1.pxfuel.com/desktop-wallpaper/766/738/desktop-wallpaper-2013-star-trek-into-darkness.jpg');
        
    }
    75%{
        background-image: url('https://c4.wallpaperflare.com/wallpaper/156/167/750/movies-thor-chris-hemsworth-black-background-wallpaper-preview.jpg');
    }
    100%{
        background-image: url('https://wallpapers.com/images/hd/poster-background-duf5mprr7kla128s.jpg');
    }
}
h1{
    margin-top:20px;
}
.head2{
    margin-bottom:-3%;
    margin-top:5%;
}
.details_tv{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-image: url('https://img.freepik.com/free-vector/black-faded-gradient-background-vector-with-blue-border_53876-125750.jpg?semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:-40px;
    /*height:1900px;*/
    height:1700px;
}
.box{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:430px;
    height:500px;
    text-align:center;
    margin:30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   /* background-color:rgb(228, 225, 225);*/
   background-color:transparent;
}
.details_movie{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-image: url('https://img.freepik.com/free-vector/black-faded-gradient-background-vector-with-blue-border_53876-125750.jpg?semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top:3%;
   /* height:2050px;*/
   height: 1800px;
}
.details_sport{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-image: url('https://img.freepik.com/free-vector/black-faded-gradient-background-vector-with-blue-border_53876-125750.jpg?semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:-40px;
    /*height:2000px;*/
    height: 1800px;
}
.box_video{
    width:430px;
    height:300px;
    margin-top:-6.8%;
    transition:all 0.5s linear ;
    border-radius: 10px;
}
.logo{
    display:inline-block;
    width:70px;
    aspect-ratio: 1;
    position:absolute;
    top:5px;
}
.box_video:hover{
    transform:scale(1.1);
}
.watch_button a{
    text-decoration:none;
    color:white;
}
.watch_button a:hover{
    color:aquamarine;
}
.watch_button{
    width:140px;
    height: 30px;
    font-size: 1.2rem;
    background-color:transparent;
    margin:5px;
    margin-top:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:all 1s linear;
}
.watch_button:hover{
    transform: scale(1.15);
}
.plus_button a{
    text-decoration:none;
    color:white;
}
.plus_button a:hover{
    color:aquamarine;
}
.plus_button{
    width:30px;
    height: 30px;
    font-size: 1.2rem;
    background-color:transparent;
    margin:5px;
    margin-top:15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:10px;
    color:white;
}
p{
    margin:15px;
    text-align: justify;
    color:white;
    font-size:1.2rem;
}
h1{
    margin-left:2%;
    font-size:3.5rem;
    color:white; 
}
.fa-video{
    font-size: 1.5rem;
    margin-right:10px;
    margin-bottom:-10px;
    color:white;
}
.fa-video:hover{
    color:aquamarine;
}
.login{
    width:100%;
    height:500px;
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius:100% 0% 100% 0% / 0% 0% 100% 100% ;
background-attachment: fixed;
}
.login_name{
    font-size:3rem;
    display:inline-block;
    color:white;
    margin-left:10px;
    margin-top:10px;
    text-shadow: -11px 9px 5px rgba(0,0,0,0.52);
}
.signin_button{
    position:absolute;
    margin-top:20px;
    left:90%;
    height: 30px;
    color:white;
    background-color: rgb(110, 58, 58);
    width:100px;
    font-size:1.2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.signin_button a{
    text-decoration: none;
    color:white;
}
.login_head{
    margin-left:33%;
    margin-top:4%;
}
.login_head span{
    display:block;
    margin-left:-2%;
}
.login_para{
    color:white;
    margin-left:30%;
    margin-top:3%;
}
.email{
    display:block;
    font-size:1.2rem;
    width:450px;
    height:40px;
    margin-left:30%;
    background-color:black;
    border-color:gray;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color:white;
}
.start_button{
    font-size:1.2rem;
    margin-left:40%;
    margin-top:2%;
    background-color: red;
    color:white;
    border-radius:10px;
    width:150px;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.start_button a{
    text-decoration: none;
    color:white; 
}
.login_button{
    position:absolute;
    margin-top:20px;
    left:80%;
    height: 30px;
    color:white;
    background-color: rgb(110, 58, 58);
    width:110px;
    font-size:1.2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.login_button a{
    text-decoration: none;
    color:white;
}
.reason{
    display:flex;
    align-items:center;
    gap:20px;
    margin-top:30px;
    height:350px;
}
.reas{
    border:2px solid  white;
    width:300px;
    height:300px;
    margin-left:10px;
    border-radius: 20px;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.reas1{
    margin-left:8%;
}
.reason_head{
    color:white;
}
.reason_para{
    color:gray;
    align-content: justify;
    margin-top:20px;
}
.reason_img{
    width:150px;
    height: 150px;
    margin-top:20%;
    margin-left:60%;
}
.img4{
    margin-top:15%;
}
/*.movie_head{
    color:black;
}
.bo{
    margin-bottom:-5%;
}
.bo1{
    margin-top:-5%;
}
.head2{
    margin-top:3%;
    margin-bottom:-2%;
}
.dropdown{
    position:absolute;
    bottom:55px;
    left:65%;
}
.dropdown button{
    height: 30px;
    width:170px;
    align-items:center;
}*/
.cont_icon{
    color:rgb(106, 168, 176);
    margin-left:50%;
    font-size:3rem;
}
.cont_icon1{
    color:rgb(106, 168, 176);
    margin-left:42%;
    font-size:3rem;
    margin-top:8px;
}
.cont_head1{
    margin-left:40%;
    margin-top:5%;
}
.cont_head span{
    display:block;
    margin-left:15%;
}
.cont_head{
    margin-left:25%;
    word-spacing: 1rem;
}
.contact_start{
    /*border:2px solid white;*/
    height:400px;
    margin-top:3%;
    align-content: center;
    background-image: url('https://ecmas.in/wp-content/uploads/2019/12/contact-us.jpg');
    background-size: cover;
}
.cont_list{
    /*bordeR:2px solid white;*/
    margin-left:180px;
    width:30%;
    height:60%;
    align-content: center;
    
}
.contact_list{
    /*bordeR:2px solid white;*/
    display:flex;
    gap:5px;
    height:350px;
    border-radius:100% 0% 100% 0% / 74% 100% 0% 26% ;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cont_list p{
    text-align:justify;
    letter-spacing:0.1rem;
}
.p1{
    margin-top:10%;
}
.cont_list a{
    text-decoration:none;
    margin-left:30%;
    color:rgb(75, 204, 233);
}
.cont_list a:hover{
    color:red;
}
.main_footer{
    display:flex;
}
.footer_div{
    /*border:2px solid white;*/
    width:300px;
    height:300px;
    margin-left:40px;
}
.footer_div li a{
    font-size:1.2rem;
    color:rgb(174, 172, 172);
}
.footer_div ul li{
    margin-top:20px;
}
.footer_img{
    width:40px;
    height:40px;
    border-radius:10px;
    margin:20px;
    margin-top:-30%;
}
/*.footer_div{
    border-radius:10px;
}*/